@charset "UTF-8";

html {
    height: 100%;
    font-size: 16px;
}

body {
    color: #fff;
    background-image: linear-gradient(0deg,
            #FEE12D 0%,
            #6EC5FF 50%,
            #186AC9 100%);
}

.center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h1 img {
    width: 35%;
    height: auto;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0px auto 30px;
}



/* フォーム */
#container {
    display: flex;
    justify-content: center;
}

.form-bg {
    width: 300px;
    padding: 35px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

form p {
    text-align: center;
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login-form {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: normal;
}

input {
    display: block;
}

.login-form input {
    color: #000;
    width: 100%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-btn {
    text-align: right;
    margin-bottom: 30px;
}

.btn {
    font-size: 1rem;
    padding: 5px 30px;
}

form a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}

.add-top {
    text-align: center;
    margin-bottom: 50px;
}

.add-top p {
    font-weight: bold;
    margin: 0;
}

.add-bottom {
    margin-left: 10px;
    margin-bottom: 30px;
}

.add-bottom p {
    margin: 0;
}

.btn-center {
    text-align: center;
}
