@charset "utf-8";

html {}

body {}

/* 共通 */
.img-size {
    width: 50px;
    height: 50px;
}




/* header */
header {
    background: #186AC9;
}

.accordion-button {
    background: #f8f9fa;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.accordion-arrow {
    transition: transform 0.3s ease;
    font-size: 14px;
}

.accordion-arrow.open {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    padding: 12px;
    border: 1px solid #ddd;
    background: #fff;
}



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

/* コンテンツ */
#container {
    flex: 0 0 80%;
}

/* サイドバー */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#side-bar a {
    color: #fff;
    text-decoration: none;
}


/* 投稿フォーム */
.post-form {
    display: flex;
    align-items: flex-start;
    padding: 25px 100px;
    border-bottom: 7.5px solid #bbb;
}

.user-icon {
    margin-right: 10px;
}

.user-icon img {
    width: 90%;
    height: 90%;
}

.post-form-body {
    display: flex;
    align-items: flex-end;
}

.post-textarea {
    border: none;
    margin-right: 10px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.4;
}

.post-submit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}



/* 投稿 */
.post-block {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
    padding: 20px 20px 20px 100px;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    /* 名前と日付に対して設定 */
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}



/* モーダル */
.my-modal {
    display: none;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    /* ォームのスタイルを追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal_post {
    width: 100%;
    height: 150px;
}



/* searchページ */
.search-form {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    border-bottom: 7.5px solid #ddd;
}

.search-user-box {
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

.search-user-box-right {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 50px;
    height: 50px;
}



/* フォロー/フォロワーリストページ */
.follow-list-header {
    display: flex;
    padding: 20px;
    border-bottom: 7.5px solid #ddd;
}

.follow-list-header-icon {
    display: flex;
}
