@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

.accordion-button {
    background: #f8f9fa;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.accordion-arrow {
    transition: transform 0.3s ease;
    font-size: 14px;
}

.accordion-arrow.open {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    padding: 12px;
    border: 1px solid #ddd;
    background: #fff;
}



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

/* コンテンツ */
#container {
    flex: 0 0 80%;
}

/* サイドバー */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}



/* 投稿フォーム */
.post-form {
    display: flex;
    align-items: flex-start;
    padding: 25px 100px;
    border-bottom: 7.5px solid #bbb;
}

.user-icon {
    margin-right: 10px;
}

.user-icon img {
    width: 90%;
    height: 90%;
}

.post-form-body {
    display: flex;
    align-items: flex-end;
}

.post-textarea {
    border: none;
    margin-right: 10px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.4;
}

.post-submit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.post-submit-button img {
    width: 50px;
    height: 50px;
}



/* 投稿 */
.post-block {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
    padding: 20px 20px 20px 100px;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    /* 名前と日付に対して設定 */
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}
